{% extends "base.html" %}

{% block title %}Home | NextStop{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Discover Montreal.
            <br>
            <span>Plan your next stop.</span>
        </h1>

        <p>Discover cafés, attractions, parks and hidden gems. Build personalized itineraries and explore Montreal with confidence.</p>

        <div class="hero-buttons">
            <a href="{{ url_for('places') }}" class="primary-button">Browse Places</a>

            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('register') }}" class="secondary-button">Sign Up Free</a>
            {% endif %}
        </div>
    </div>

    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/hero.png')}}" alt="Montreal illustration">
    </div>
</section>

<section class="categories">
    <h2>Browse by Category</h2>

    <div class="category-list">
        <a href="{{ url_for('places', category='Restaurants') }}" class="category-card">
            <i class="fa-solid fa-utensils"></i>
            <p>Restaurants</p>
        </a>

        <a href="{{ url_for('places', category='Cafés') }}" class="category-card">
            <i class="fa-solid fa-mug-saucer"></i>
            <p>Cafés</p>
        </a>

        <a href="{{ url_for('places', category='Attractions') }}" class="category-card">
            <i class="fa-solid fa-landmark"></i>
            <p>Attractions</p>
        </a>

        <a href="{{ url_for('places', category='Parks') }}" class="category-card">
            <i class="fa-solid fa-tree"></i>
            <p>Parks</p>
        </a>

        <a href="{{ url_for('places', category='Entertainment') }}" class="category-card">
            <i class="fa-solid fa-music"></i>
            <p>Entertainment</p>
        </a>

        <a href="{{ url_for('places', category='Shopping') }}" class="category-card">
            <i class="fa-solid fa-bag-shopping"></i>
            <p>Shopping</p>
        </a>
    </div>
</section>

<section class="featured-places">
    <h2>Featured Places</h2>

    <div class="featured-list">
        {% for place in featured_places %}
            <article class="place-card">
                <img src="{{ place.image_url }}" alt="{{ place.name }}" class="place-image">
                <div class="place-card-content">
                    <p class="place-category">{{ place.category }}</p>
                    <h3>{{ place.name }}</h3>
                    <p class="place-neighbourhood"><i class="fa-solid fa-location-dot"></i>{{ place.neighbourhood }}</p>
                    <a href="{{ url_for('place_details', place_id=place.id) }}" class="details-button">View Details</a>
                </div>
            </article>
        {% endfor %}
    </div>

    <div class="featured-places-button">
        <a href="{{ url_for('places') }}" class="secondary-button">View All Places</a>
    </div>
</section>
{% endblock %}