{% extends "base.html" %}

{% block title %}Home | NextStop{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Discover Montreal.
            <br>
            <span>Plan your next stop.</span>
        </h1>

        <p>Discover cafés, attractions, parks and hidden gems. Build personalized itineraries and explore Montreal with confidence.</p>

        <div class="hero-buttons">
            <a href="" class="primary-button">Browse Places</a>

            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('register') }}" class="secondary-button">Sign Up Free</a>
            {% endif %}
        </div>
    </div>

    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/hero.png')}}" alt="Montreal illustration">
    </div>
</section>

<section class="categories">
    <h2>Browse by Category</h2>

    <div class="category-list">

        <a href="" class="category-card">
            <i class="fa-solid fa-utensils"></i>
            <p>Restaurants</p>
        </a>

        <a href="" class="category-card">
            <i class="fa-solid fa-mug-hot"></i>
            <p>Cafés</p>
        </a>

        <a href="" class="category-card">
            <i class="fa-solid fa-landmark"></i>
            <p>Attractions</p>
        </a>

        <a href="" class="category-card">
            <i class="fa-solid fa-tree"></i>
            <p>Parks</p>
        </a>

        <a href="" class="category-card">
            <i class="fa-solid fa-music"></i>
            <p>Entertainment</p>
        </a>

        <a href="" class="category-card">
            <i class="fa-solid fa-bag-shopping"></i>
            <p>Shopping</p>
        </a>
    </div>
</section>
{% endblock %}