{% extends "base.html" %}

{% block title %}My Itineraries | NextStop{% endblock %}

{% block content %}
<section class="itineraries-page">
    <div class="itineraries-header">
        <div>
            <h1>My Itineraries</h1>
            <p>View and manage your plans for exploring Montreal.</p>
        </div>

        <a href="{{ url_for('create_itinerary') }}" class="primary-button">
            <i class="fa-solid fa-plus"></i>
            Create Itinerary
        </a>
    </div>

    {% if itineraries %}
    <div class="itineraries-list">
        {% for itinerary in itineraries %}
            <article class="itinerary-card">
                <div class="itinerary-card-content">
                    <h2>{{ itinerary.title }}</h2>

                    <p class="itinerary-date">
                        <i class="fa-solid fa-calendar"></i>
                        {{ itinerary.date.strftime('%B %d, %Y')}}
                    </p>

                    <p class="itinerary-place-count">
                        <i class="fa-solid fa-thumbtack"></i>
                        {{ itinerary.itinerary_places | length }} places
                    </p>
                </div>

                <a href="" class="details-button">View Itinerary</a>
            </article>
        {% endfor %}
    </div>

    {% else %}
        <div class="itineraries-empty">
            <p>No itineraries yet.</p>
        </div>
    {% endif %}
</section>
{% endblock %}
